body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#0078d4;
  }

h1 {
  text-align: center;
  font-weight: 1200;
  color: black;
}

.forum {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.content {
  padding-left: 20px;
  display: grid;
  border: black solid 1px;
  border-radius: 5px;
  gap: 20px;
  margin-top: 20px;
  padding-right: 10vw;
}

.answersList:first-child {
  margin-top: 40px;
}

.answersList {
  list-style: none;
}

.questionsList {
  font-weight: 600;
  margin-top: 4px;
  list-style: none;
  border-radius: 5%;
}

.question-card {
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: grid;
  width: 100%;
  background-color: rgb(253, 253, 253);
}

.question-card p {
  margin-top: -10px;
  font-size: 0.8rem;
  opacity: 0.4;
}

.questionsList:hover {
  cursor: pointer;
  color: #006eff;
}

input[type="text"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #0078d4;
  border-radius: 10px;
  resize: none;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  background-color: #0078d4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 25%;
  width: 50%;
}

.questionTime, .questionTags{
  opacity: 0.5;
}

.questionTags {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px; 
}

.tag {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #333;
  opacity: 1;
}

.displayedQuestion {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: rgb(253, 253, 253);
}

.answersList.correct {
  border-color: #0078d4; 
  font-weight: bold; 
  color: #0078d4; 
}

.answerId {
  opacity: 0.3;
}

.filter-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.tag-search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.tag-dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.tag-option {
  padding: 0.5rem;
  cursor: pointer;
}

.tag-option:hover {
  background: #f0f0f0;
}

.selected-tag {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.selected-tag span {
  margin-right: 0.5rem;
}

.selected-tag button {
  background: #d9534f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .question-list {
    border-right: none;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .question-detail {
    padding-left: 0;
  }
}
